

.home-section {
  width: 66rem;
  text-align: center;
  margin: auto;
  z-index: 1;
}

.splitted-section {
  display: flex;
  z-index: inherit;
}

.section-left,
.section-right {
  width: 50%;
  z-index: inherit;
}