
.selector-content {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1;
  display: flex;
}

.link-box {
  margin-left: 7px;
  margin-right: 7px;
}

.language-link {
  color: var(--tertiary);
  text-decoration: none;
  cursor: pointer;
}

.language-link.activated {
  text-decoration: underline;
  color: var(--light);
}