
.errorMsg {
  color: var(--light);
  font-size: 1.2em;
}

@media only screen and (max-width: 900px) {
  .list-container {
    display: block;
  }

  .project-sum-box {
    width: 100%;
    margin: 10px 4px;
  }
}

@media only screen and (min-width: 900px) {
  .project-sum-box {
    width: calc(33% - 10px);
    margin: 10px 5px;
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.separator {
  background-color: var(--v-secondary-darken2);
  height: 1px;
  margin: 20px 40px;
}