
:root {
  --primary: var(--v-primary-base);
  --secondary: var(--v-secondary-base);
  --tertiary: var(--v-tertiary-base);
  --light: var(--v-light-base);
  --dark: var(--v-dark-base);
  --light_accent: var(--v-light_accent-base);
}