
:root {
  --primary: var(--v-primary-base);

  --secondary: var(--v-secondary-base);
  --secondary_lighter: #8F9DC8;

  --tertiary: var(--v-tertiary-base);

  --light: var(--v-light-base);
  --light_accent: var(--v-light_accent-base);

  --dark: var(--v-dark-base);

}