


.send-email-button {
  font-size: 1.04em !important;
  font-weight: 600 !important;
  text-transform: none;
  color: var(--v-secondary-lighten3) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px !important;
  height: unset !important;
  border-radius: 100px !important;
}

.send-email-button.mobile {
  color: white !important;
}


.send-email-icon {
  font-size: 30px;
  color: var(--v-secondary-lighten3);
  margin-right: 13px;
}



.send-mail-card {
  background: var(--primary) !important;
  border-radius: 25px !important;
  font-family: 'main-font';
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%) !important;
}

.card-title {
  color: var(--tertiary);
  font-size: 1.2em;
  font-weight: 600;
  text-indent: 15px;
}


.send-button {
  font-weight: 900;
}

@media only screen and (max-width: 900px) {
  .card-text-box {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}