
.scroller-container {
  transition: opacity 1.8s ease;
  transition-delay: 1.4s;

  padding-left: 8rem;
  padding-top: 100px;
  height: 50vh;
  max-height: 50vh;
}

.scroller-container.hide {
  opacity: 0;
}

.scroller-container.show {
  opacity: 1;
}


.my-scrollbar{
  min-width: 300px;
  max-height: 50vh;
  background-color: unset !important;
}


.scroller-content {
  color: var(--light);
  border-width: 0 0px 0px 1px;
  //border-style: solid;
  border-color: var(--secondary);
  left: 0;
}


.chips {
  padding: 30px;
}