
@font-face {
  font-family: 'main-font';
  src: url('./assets/fonts/Quicksand-VariableFont_wght.ttf');
}

body {
  font-family: 'main-font';
}

.z-index-1 {
  z-index: 1 !important; 
}

.view-content {
  z-index: 1 !important;
}

@media only screen and (min-width: 900px) {
  .view-content {
    padding: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .view-content {
    padding: 10px;
  }
}